
.inline-block {
    display: inline-block;
    vertical-align: top;
}
.logo {
    width: 15%;
    padding: 1%;
    margin-right: 1%;
    display: left;
    
}
.navigation{
    display: inline-block;
    float: right;
    
}
.ul:target {
    width: 50%;
    Margin-left: auto;
}
.heroimg {
    height: 600px;
    padding: 25px;
}
.content {
    width: 500px;
    margin: 0 auto;
}
footer {
    background-color:#F2CF1D ;
    
}
.ul {
    display: inline-block;
    vertical-align: top;
}
.li {
    padding: center;
    display: inline-block;
}

