.inline-block {
    display: inline-block;
    vertical-align: top;
}
.logo {
    width: 23%;
    padding: 1%;
}
.navigation{
    width: 23%;
    padding: 1%;
}
.ul:target {
    width: 50%;
    Margin-left: auto;
}
.heroimg {
    height: 600px;
    padding: 25px;
}
.content {
    width: 500px;
    margin: 0 auto;
}
footer {
    background-color:#F2CF1D ;
    
}
.ul {
    display: inline-block;
    vertical-align: top;
}
.li {
    padding: center;
}
